/* @import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
*/

body {
  background-color: #FAFAD2; /* LightGoldenRodYellow; */
  font-family: 'Fondamento', cursive;
  font-size: 15px;

}
h1, h2, h3, h4, h5{
  /* color:DodgerBlue; */
  opacity: 0.5;
}
@media screen and (max-width: 800px) {
  .sonya {
	background-size: contain;
	width: 100%;
  }
}
.buttonblock {
  display: block;
}

div{
  display: inline-block;
}
.buttons{
  width: 20%;
  float: left;
}
.navbuttons{
	margin-bottom: 10px;
}
.textholder{
  filter:none;
}
.sonya{
  background-image: url("images/coast.JPG");
  background-size: cover;
  /* height: 100%; */
  position: relative;
  z-index: 1;
  width: 80%;
  height: 100%;
  float: right;

  /* filter: drop-shadow(15px 9px 2px blue); */
  /* filter: grayscale(100%); */
  /* filter: sepia(100%); */
}
button {
  display: inline-block;
  background-color: #eeeea5;
  font-family: 'Fondamento', cursive;
  font-size: 15px;
  margin: 0;
  padding: 2px;
  border-radius: 10px;
  border-color: #c1c184;
  transition-duration: 0.5s;
}
.buttonicon{
  position:relative;
  top: 3px;
}
button img {
	width: 30px;
	height: 20px;
}

button:hover{
  box-shadow: 6px 3px 5px grey;
  cursor: pointer;
}
button:active {
  transform: translateY(3px);
}
.buttonpressed {
  box-shadow: inset 3px 3px 10px #abab77, inset -5px -5px 10px #ffffd3;
}

.subnav {
    display: block;
	margin-bottom: 10px;
	width: 330px;
	position: relative;
	z-index: 2;
}

.subnav span{
  padding: 10px 0;
  background-color: #f3f3bf;
}

.subnav span:hover{
  background-color: #eeeea5;
}

.subnav:hover {
  cursor: pointer;
  }

.subnav-content{
	display: none;
}

.countries{
	background-color: #f3f3bf;
	cursor: pointer;
	display: none;
	text-align: center;
	position: relative;
	top: 30%;
}

.countries p:hover{
	background-color: #d7d7a4;
}

.subnav:hover .subnav-content {
  display: inline;
  cursor: pointer;
}

.sepiaAnimate {
  animation-name: sepia;
  animation-duration: 4s;
}
@keyframes sepia {
  from {filter: sepia(20%);}
  to {filter: sepia(100%);}
}

.grayscaleAnimate {
  animation-name: grayscale;
  animation-duration: 4s;
}
@keyframes grayscale {
  from {filter: grayscale(20%);}
  to {filter: grayscale(100%);}
}

.saturateAnimate {
  animation-name: saturate;
  animation-duration: 4s;
}
@keyframes saturate {
  from {filter: saturate(20%);}
  to {filter: saturate(300%);}
}

.hueAnimate {
  animation-name: hue;
  animation-duration: 4s;
}
@keyframes hue {
  from {filter: hue-rotate(20deg);}
  to {filter: hue-rotate(270deg);}
}

.invertAnimate {
  animation-name: invert;
  animation-duration: 4s;
}
@keyframes invert {
  from {filter: invert(60%);}
  to {filter: invert(100%);}
}

.contrastAnimate {
  animation-name: contrast;
  animation-duration: 4s;
}
@keyframes contrast {
  from {filter: contrast(100%);}
  to {filter: contrast(300%);}
}

.blurAnimate {
  animation-name: blur;
  animation-duration: 4s;
}
@keyframes blur {
  from {filter: blur(1px);}
  to {filter: blur(5px);}
}
